<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Index" });
     });
  </script>
<% end %>
<div style="margin-left:20px;">
  <%= link_to 'Upload New Banner', new_collection_configration_path(:shop => params[:shop]), :class => "btn btn-primary" %>  
</div>

<div class="col-sm-12">
  <h2 class="text-center">Collection Banners</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th class="col-sm-2">Collection Name</th>
          <th class="col-sm-8">Banner File</th>
          <th class="col-sm-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if @collection_configrations.count > 0 %>
          <% @collection_configrations.each do |collection_configration| %>
            <tr>
              <td class="col-sm-2"><%= collection_configration.collection_name %></td>
              <td class="col-sm-8"><%= collection_configration.avatar %></td>
              <td class="col-sm-2"><%= link_to 'Delete', collection_configration, method: :delete, :class => "btn btn-danger" %></td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="3" class="text-center"> No History Found </td>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

</div>


